In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/housing-prices-dataset/Housing.csv

In [2]:
df = pd.read_csv('/kaggle/input/housing-prices-dataset/Housing.csv')

In [3]:
df

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished
...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,1820000,3000,2,1,1,yes,no,yes,no,no,2,no,unfurnished
541,1767150,2400,3,1,1,no,no,no,no,no,0,no,semi-furnished
542,1750000,3620,2,1,1,yes,no,no,no,no,0,no,unfurnished
543,1750000,2910,3,1,1,no,no,no,no,no,0,no,furnished
544,1750000,3850,3,1,2,yes,no,no,no,no,0,no,unfurnished

In [14]:
from sklearn.preprocessing import OneHotEncoder

In [62]:
dummies = pd.get_dummies(df.furnishingstatus).astype(int)
dummies

     furnished  semi-furnished  unfurnished
0            1               0            0
1            1               0            0
2            0               1            0
3            1               0            0
4            1               0            0
..         ...             ...          ...
540          0               0            1
541          0               1            0
542          0               0            1
543          1               0            0
544          0               0            1

[545 rows x 3 columns]

In [63]:
merged = pd.concat([df,dummies],axis='columns')

In [64]:
merged

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus,furnished,semi-furnished,unfurnished
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished,1,0,0
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished,1,0,0
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished,0,1,0
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished,1,0,0
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,1820000,3000,2,1,1,yes,no,yes,no,no,2,no,unfurnished,0,0,1
541,1767150,2400,3,1,1,no,no,no,no,no,0,no,semi-furnished,0,1,0
542,1750000,3620,2,1,1,yes,no,no,no,no,0,no,unfurnished,0,0,1
543,1750000,2910,3,1,1,no,no,no,no,no,0,no,furnished,1,0,0
544,1750000,3850,3,1,2,yes,no,no,no,no,0,no,unfurnished,0,0,1

In [ ]:
dummies = pd.get_dummies(df.furnishingstatus)
dummies.astype(int)

In [55]:
s = ['guestroom','basement','hotwaterheating','airconditioning','prefarea']

In [65]:
for i in s:
    dummies = pd.get_dummies(df[s]).astype(int)
    merged = pd.concat([df,dummies],axis='columns')

In [66]:
merged

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,...,guestroom_no,guestroom_yes,basement_no,basement_yes,hotwaterheating_no,hotwaterheating_yes,airconditioning_no,airconditioning_yes,prefarea_no,prefarea_yes
0,13300000,7420,4,2,3,yes,no,no,no,yes,...,1,0,1,0,1,0,0,1,0,1
1,12250000,8960,4,4,4,yes,no,no,no,yes,...,1,0,1,0,1,0,0,1,1,0
2,12250000,9960,3,2,2,yes,no,yes,no,no,...,1,0,0,1,1,0,1,0,0,1
3,12215000,7500,4,2,2,yes,no,yes,no,yes,...,1,0,0,1,1,0,0,1,0,1
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,...,0,1,0,1,1,0,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,1820000,3000,2,1,1,yes,no,yes,no,no,...,1,0,0,1,1,0,1,0,1,0
541,1767150,2400,3,1,1,no,no,no,no,no,...,1,0,1,0,1,0,1,0,1,0
542,1750000,3620,2,1,1,yes,no,no,no,no,...,1,0,1,0,1,0,1,0,1,0
543,1750000,2910,3,1,1,no,no,no,no,no,...,1,0,1,0,1,0,1,0,1,0
544,1750000,3850,3,1,2,yes,no,no,no,no,...,1,0,1,0,1,0,1,0,1,0